:root{
    --morado: #56407F;
    --naranja: #ED6146;
    --azul: #7FB3EE;
}

/*=============================================*/
/*=========== Paleta de Color claro ===========*/
/*=============================================*/
.claro{
    background-color: white;
}
.claro .fon-1{
    background-color: var(--morado);
}
.claro .link-1{
    color: white;
}
.claro .link-1:hover{
    color: var(--azul);
}
/*=============================================*/

/*=============================================*/
/*=========== Paleta de Color oscuro ==========*/
/*=============================================*/
.oscuro{
    background-color: white;
}
.oscuro .fon-1{
    
}
/*=============================================*/