*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*=============================================*/
/*========= Hero o Panel de Imagen ============*/
/*=============================================*/
.hero{
    width: 100%;
    height: 200px;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
}
.hero .texto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%, -50%);
}
.hero .texto h1{
    font-size: 50px;
}
/*=============================================*/

/*=============================================*/
/*=========== Menu de NAvegacion ==============*/
/*=============================================*/
.nav-hor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 8%;
}
.nav-hor .enlaces{
    display: flex;
}
.nav-hor .enlaces a{
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.nav-hor .lbl-switch{
	width: 65px;
	height: 32px;
	border-radius: 50px;
	position: relative;
	display: block;
	transition: .5s;
}
.nav-hor .lbl-switch::after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #f3f3f3;
	border-radius: 50%;
	top: 4px;
	left: 6px;
	display: block;
	transition: .5s;
}

.nav-hor #switch:checked ~ .lbl-switch:after{
	left: 35px;
}
/*=============================================*/

/*=============================================*/
/*=============================================*/
/*=============================================*/
.main{
    width: 1200px;
    max-width: 1200px;
    margin: 15px auto;
}
.main .preguntas{
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
.main .preguntas .respuesta{
    display: flex;
    align-items: center;
}
.main .preguntas .respuesta button{
    width: 60px;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 15px;
    padding: .2rem 1rem;
}
.main .preguntas .respuesta input[type=radio],
.main .preguntas .respuesta label{
    margin-top: 10px;
}
.main .preguntas .respuesta label{
    font-size: 18px;
    margin-right: 15px;
    margin-left: 2px;
}

.main .cont_slider .control{
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-evenly;
}
.main .cont_slider .control button{
    padding: .4rem 1rem;
    font-size: 18px;
}
/*=============================================*/

/*=============================================*/
/*=========== Slider de Preguntas =============*/
/*=============================================*/
.cont_slider{
    width: 100%;
	overflow: hidden;
	position: relative;
}
.cont_slider .slide{
    width: 100%;
	display: flex;
}
.cont_slider .slide .slider{
    width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/

/*=============================================*/
/*============== Clases Generales =============*/
/*=============================================*/
.none{
    display: none;
}
/*=============================================*/

@media(max-width: 1050px){
    .nav-hor{
        padding: 0 6%;
    }

    .hero{
        height: 160px;
    }
    .hero .texto h1{
        font-size: 45px;
    }

    .main{
        width: 80%;
    }
}