*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*=============================================*/
/*========= Hero o Panel de Imagen ============*/
/*=============================================*/
.hero{
    width: 100%;
    height: 200px;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
}
.hero .texto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%, -50%);
}
.hero .texto h1{
    font-size: 50px;
}
/*=============================================*/

/*=============================================*/
/*=========== Menu de NAvegacion ==============*/
/*=============================================*/
.nav-hor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.nav-hor a{
    display: block;
    font-size: 18px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
/*=============================================*/

/*=============================================*/
/*=============================================*/
/*=============================================*/
.main{
    width: 1200px;
    max-width: 1200px;
    margin: 15px auto;
}
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/

/*=============================================*/
/*============== Clases Generales =============*/
/*=============================================*/
.none{
    display: none;
}
/*=============================================*/

@media(max-width: 1050px){
    .hero{
        height: 160px;
    }
    .hero .texto h1{
        font-size: 45px;
    }

    .main{
        width: 80%;
    }
}