*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 80%;
    max-width: 1100px;
}

/*=============================================*/
/*========= Hero o Panel de Imagen ============*/
/*=============================================*/
.hero{
    width: 100%;
    height: 300px;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
}
.hero .texto{
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%, -50%);
}
.hero .texto h1{
    font-size: 50px;
}
/*=============================================*/

/*=============================================*/
/*=========== Menu de NAvegacion ==============*/
/*=============================================*/
.nav-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 8%;
}
.nav-nav .enlaces{
    display: flex;
}
.nav-nav .enlaces a{
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.nav-nav .enlaces label{
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-nav .lbl-switch{
	width: 65px;
	height: 32px;
	border-radius: 50px;
	position: relative;
	display: block;
	transition: .5s;
    cursor: pointer;
}
.nav-nav .lbl-switch::after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #f3f3f3;
	border-radius: 50%;
	top: 4px;
	left: 6px;
	display: block;
	transition: .5s;
}

.nav-nav #switch:checked ~ .lbl-switch:after{
	left: 35px;
}
/*=============================================*/

/*=============================================*/
/*=============================================*/
/*=============================================*/
.main{
    width: 80%;
    max-width: 1200px;
    padding: 4% 0;
    margin: auto;
}
.main > p{
    width: 98%;
    margin: auto;
    font-size: 26px;
    margin-bottom: 0.5%;
}
.main .preguntas{
    width: 99%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto 0 auto;
}
.main .preguntas .respuesta{
    display: flex;
    align-items: center;
}
.main .preguntas .respuesta button{
    width: 60px;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 15px;
    padding: .2rem 1rem;
}
.main .preguntas .respuesta input[type=radio],
.main .preguntas .respuesta label{
    margin-top: 10px;
}
.main .preguntas .respuesta label{
    font-size: 18px;
    margin-right: 15px;
    margin-left: 2px;
}
.main .pregunta-boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .control{
    display: flex;
    margin-top: 15px;
    width: 100%;
    justify-content: space-evenly;
}
.main .control button{
    font-size: 18px;
}
.main .control button > a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: block;
    padding: .4rem 1rem;
}
/*=============================================*/

/*=============================================*/
/*=========== Slider de Preguntas =============*/
/*=============================================*/
.cont_slider{
    width: 100%;
	overflow: hidden;
	position: relative;
}
.cont_slider .slide{
    width: 100%;
    max-width: 100%;
	display: flex;
}
.cont_slider .slide .slider{
    width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}
/*=============================================*/
/*========== Modal para Guardar ===============*/
/*=============================================*/
.guardar{
    top: 50%;
    left: -50%;
    position: fixed;
    transform: translate(-50%,-50%);
    width: 50%;
    padding: 20px;
    border-radius: 7px;
    color: white;
    display: flex;
    flex-direction: column;
}
.guardar button{
    font-size: 20px;
    padding: .4rem 1rem;
    margin-top: 15px;
    cursor: pointer;
}
/*=============================================*/

/*=============================================*/
/*============== Carta Buenvenida =============*/
/*=============================================*/
.card {
  position: fixed;
  top: 50%;
  left: -50%;
  transition: all .5s;
  transform: translate(-50%, -50%);
  width: 38%;
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-header {
  width: 100%;
  display: block;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383);
}

.card-body-img {
  border: 5px solid white;
  border-radius: 50%;
  margin-top: calc(-48px - 5px);
  background-color: white;
  width: 50%;
}

.card-body-title {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.card-body-text {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
  padding: 0 3rem;
  text-align: center; 
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.card-footer button{
    display: block;
    padding: .6rem 2rem;
    cursor: pointer;
}
/*=============================================*/

/*=============================================*/
/*=========== Carta de Resultados =============*/
/*=============================================*/
.card-2{
    background-color: white;
    position: fixed;
    top: 50%;
    left: -50%;
    transition: all .5s;
    transform: translate(-50%, -50%);
    width: 78%;
    border-radius: 16px;
    overflow: hidden;
}
.card-2 .card-2-body{
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-2 .lbl-file{
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
}
.card-2 .btn-controls{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card-header{
    height: 150px;
}

.rectangulo{
    width: 40%;
    height: 290px;
}
.rectangulo canvas{
    width: 100%;
    height: 100%;
}
/*=============================================*/

/*=============================================*/
/*=============== Pie de Pagina ===============*/
/*=============================================*/
.pie-pagina{
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.pie-pagina .content-info{
    width: 45%;
    font-size: 24px;
    padding: 10px; 
}

.pie-pagina .link-sitio{
    width: 30%;
    padding: 10px;
    font-size: 24px;
    display: flex;

}

.pie-pagina .link-social{
    width: 25%;
    padding: 10px;
}
.pie-pagina .link-social .enlaces{
    display: flex;
    gap: 10px;
}
.pie-pagina .link-social .enlaces a{
    display: block;
    font-size: 20px;
    width: 45px;
    height: 45px;
    text-decoration: none;
}
.pie-pagina .link-social .enlaces a img{
    width: 100%;
}
/*=============================================*/

/*=============================================*/
/*=============== Form de ayuda ===============*/
/*=============================================*/
.form-ayuda{
    width: 100%;
    padding: 4% 0;
    transition: all .6s;
    text-align: justify;
}
.form-ayuda h1{
    font-size: 46px;
    margin-top: 91%;
    margin-bottom: 3%;
    text-align: center;
}
.form-ayuda p{
    font-size: 20px;
}
.form-ayuda label{
    padding: .5rem 4rem;
    cursor: pointer;
    font-size: 18px;
    margin-top: 2%;
}
/*=============================================*/

/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/